* {
  margin: 0;
  padding: 0;
}

body {
  width: 390px;
  font-family: sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: white;
  box-shadow: 6px 4px 35px #050505;
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFFFFf;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}

.header {
  background-color: rgb(31, 28, 28);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: baseline;
  gap: 32px;
}

#check {
  position: absolute;
  left: -999999999px;
  visibility: hidden;
}
#check:checked ~ .nav {
  right: -232px;
}

.box-content {
  overflow: hidden;
}

.menu {
  width: 232px;
  position: absolute;
  top: 75px;
  right: 0;
  padding: 32px;
  box-sizing: border-box;
  background: #FFFFFf;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 4px;
}
.menu__subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  margin-top: 20px;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style-type: none;
  padding-left: 20px;
}
.menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.menu__link:hover {
  color: #F16D7F;
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head_heading {
  font-style: normal;
  font-weight: 400px;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__li:last-child .breadcrumbs__link {
  font-weight: 700;
  color: #F16D7F;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__content {
  background-color: #f8f3f4;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__price {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.bar {
  height: 50px;
}
.bar h1 {
  margin: 88px;
  padding: 11px;
  border: 5px solid #F16D7F;
  bottom: 40px;
  position: relative;
  color: #F16D7F;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
}

.subBottom {
  display: grid;
  background-color: #222224;
  justify-content: space-around;
}

.freeDelivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #FBFBFB;
  margin: 100px;
}
.freeDelivery img {
  width: 44px;
  height: 32px;
  margin-bottom: 16px;
}
.freeDelivery h1 {
  font-size: 24px;
  margin-bottom: 16px;
}
.freeDelivery p {
  font-size: 14px;
  margin-bottom: 16px;
  position: relative;
  left: 20px;
}

.salesDiscounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #FBFBFB;
  margin: 100px;
}
.salesDiscounts img {
  width: 44px;
  height: 32px;
  margin-bottom: 16px;
}
.salesDiscounts h1 {
  left: 40px;
  position: relative;
  font-size: 24px;
  margin-bottom: 16px;
}
.salesDiscounts p {
  font-size: 14px;
  margin-bottom: 16px;
  position: relative;
  left: 20px;
}

.qualityAssurance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #FBFBFB;
  margin: 100px;
}
.qualityAssurance img {
  width: 44px;
  height: 32px;
  margin-bottom: 16px;
}
.qualityAssurance h1 {
  left: 40px;
  position: relative;
  font-size: 24px;
  margin-bottom: 16px;
}
.qualityAssurance p {
  font-size: 14px;
  margin-bottom: 16px;
  position: relative;
  left: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.buttons button {
  flex: 1;
  padding: 15px;
  margin: 0 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.clear-card {
  background-color: #fff;
}

.continue-shopping {
  background-color: #fff;
}

.subscribe-section {
  display: grid;
  justify-content: space-around;
  align-items: center;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

.information {
  position: relative;
  min-width: 390px;
}
.information__img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
.information__text {
  font-style: italic;
  font-size: 18px;
}

.subscribe {
  position: relative;
  min-width: 390px;
}
.subscribe__text {
  font-size: 24px;
  margin-bottom: 10px;
}
.subscribe__texts {
  font-size: 18px;
  margin-bottom: 20px;
}
.subscribe__from {
  display: flex;
  justify-content: center;
}
.subscribe__from_input[type=email] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.subscribe__from_button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #F16D7F;
  color: #fff;
  cursor: pointer;
  outline: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  margin: 0;
}

footer .social-media {
  margin-top: 10px;
}

footer .social-media a {
  margin: 0 10px;
  display: inline-block;
}

footer .social-media img {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */